    
html {
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1000px;
}

header, footer {
  background-color: rgb(66, 0, 128);
  color: white;
  line-height: 100px;
  padding: 0 20px;
}

.new-note, .note-display {
  padding: 20px;
}

.new-note {
  background: #ddd;
}

h1 {
  margin: 10000000;
}


div {
  margin-bottom: 10px;
}
